html {
  background-color: #D8BFAA
}

header {
  font-size: large;
  background-color: #EBF5EE;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bolder;
  padding: 20px;
  margin-bottom: 25px;
}

.settings_block {
  background-color:#542344;
  text-align: left;

}

.refresh_btn {
  text-align: center;
  margin-left: auto;
  margin-right: 50px;
   margin-top: 5px;
  background: #16425B;
  color: #BFD1E5;
}


button{
  transform: translate(15%, 35%);
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #BFD1E5;
  color: #16425B;
  border-radius: 8px;
  padding: 12px 16px 14px;
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 50px;
  text-align: center;
}

#display_dock {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;

}

#container {
  justify-content: center;
}

h1 {
    margin-top: 150px;
    margin-left: 100px;
    margin: 0 auto;
    text-align: center;
    font-weight: bolder;
    color: #808080;
}

.device_name {
  font-size: 32pt;
  font-family: "Copperplate", fantasy;
  color: #16425B;

}
  
/* -------- Button CSS ---------*/
label {
    margin: 0;
    position:absolute;
    transform: translateX(-12%)
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 200px;
    height: 100px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    margin-left: 50px;
  }
  
  label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: #bada55;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 130px;
  }
