<!DOCTYPE html>

<head>
    <title>Change Device Name</title>
    <script type="text/javascript" src="/static/ChangeDeviceName.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>

<html>
    <body>
        <h1> Change The Devices Name</h1>
        <input type="text" id="device_name" placeholder="Current Device Name"/>
        <input type="text" id="device_name_change" placeholder="New Device Name"/>
        <button type="submit" id="change_name" >Submit</button>
    </body>

</html>