<!DOCTYPE html>

<html>
    <head>
        <title> RaspberryPi Interface</title>
        <script src= "https://code.jquery.com/jquery-3.6.0.min.js" ></script>
        <script type="text/javascript" src="/static/Homepage_script.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/static/Homepage_style.css"></link>
    </head>

    <body>
        <div id="display_dock"></div>
        <button type="button" id="test">PressMe</button>
    </body>

</html>
